@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #5d6768 #394546;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .4em;
    background-color: #394546;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #5d6768;
    border-radius: .7em;
}

header {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 4em;
}

.background {
    position: absolute;
    z-index: -30;
    opacity: .3;
    width: 100%;
    height: 100%;
    background-color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
    color: aliceblue;
}

.navbaropn {
    padding: .2em;
    width: 2.7em;
    height: 2.4em;
    display: none;
}

.opnn1,
.opnn2,
.opnn3 {
    width: 100%;
    height: .2em;
    border-radius: .3em;
    background-color: #ffffff;
}

nav>span>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav>ul {
    display: flex;
    gap: 2em;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    padding: .5em;
    font-size: 1.1em;
    text-decoration: none;
    color: aliceblue;
    transition: .2s;
}

nav>ul>li>a:hover {
    color: #c8c5c5;
}

.contactusm {
    background-color: #5100ff;
    border-radius: .3em;
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100vh;
    filter: blur(3px);
}

.video>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.naem {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    text-align: center;
    z-index: 2;
}

.naem2 {
    padding: 2em 1em;
    color: #fff;
}

.naem2>h1 {
    font-size: 2em;
}

.naem2>p {
    margin: .5em 0em 2em 0em;
    color: #e1e0e0;
}

.naem2>a {
    text-decoration: none;
    color: #e1e0e0;
    background-color: #5d6768;
    border-radius: .3em;
    padding: .8em .9em;
    transition: all .3s;
}

.naem2>a:hover {
    background-color: #394546;
}

.about {
    width: 100%;
    height: 100%;
    padding: 7em 0em;
}

.about2 {
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 36em;
    padding: 5em;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.img>.imgg {
    width: 47%;
}

.img>.imgg>img {
    width: 100%;
    transition: .3s;
}

.img:hover .imgg>img {
    transform: scale(1.1);
}

.Abot-naem {
    width: 20em;
}

.services {
    width: 100%;
    height: 100%;
    padding: 5em 0em;
}

.services>h1 {
    text-align: center;
    margin-bottom: 1em;
}

.servicess {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.servicescard {
    width: 18em;
    height: 100%;
    background-color: #e7e7e7;
    padding: 3em 1em;
    border-radius: .3em;
    transition: .3s;
}

.servicescard:hover {
    box-shadow: #434343 0px 10px 40px -20px;
}

.cardimg>img {
    width: 5em;
}

.cardnaem>h3 {
    margin: .3em 0em;
}

.cardnaem>p {
    color: #3f3f3f;
}

.projects {
    width: 100%;
    height: 100%;
    padding: 6em 0em;
    text-align: center;
}

.projectss {
    width: 95%;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardprojects {
    position: relative;
    color: #e1e0e0;
    width: 20em;
    height: 100%;
    padding: 2em 1em;
    /* background-color: #5d6768; */
}

.imggg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .5em;
}

.imggg>img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.imgprojects {
    position: absolute;
    text-align: center;
    width: 89%;
    height: 10em;
    bottom: 8%;
    opacity: 0;
    transition: .6s;
    color: #ffffff;
}

.imgprojects>.background {
    position: relative;
    z-index: 1;
    border-radius: 1em 1em 0em 0em;
}

.imgprojects>h1,
p {
    position: relative;
    z-index: 2;
    bottom: 90%;
}

.cardprojects:hover .imgprojects {
    opacity: 1;
}

.cardprojects:hover .imggg>img {
    transform: scale(1.5) rotate(10deg);
}

.contactus {
    padding: 6em 0em;
    width: 100%;
    height: 100%;
}

.contactuss {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #efefef;
    padding: 1em;
    border-radius: .7em;
}

.contactuss>h1 {
    color: #7d7d7d;
    text-align: center;
}

.contactusn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contactimg {
    width: 25em;
    height: 30em;
}

.contactimg>img {
    width: 100%;
    height: 100%;
}

.contactmessage {
    width: 58%;
    display: grid;
    gap: 1em;
}

.contactmessage>input {
    width: 100%;
    border: none;
    height: 3em;
    padding-left: 1em;
    outline: none;
    border-radius: .2em;
}

.contactmessage>textarea {
    padding: 1em 1em 0em 1em;
    font-size: .9em;
    border: none;
    outline: none;
    resize: none;
}

.contactmessage>button {
    border: none;
    border-radius: .5em;
    background-color: #4300d2;
    color: #fff;
    font-size: .9em;
    cursor: pointer;
    padding: .5em 0em;
}

.contactmessage>button:hover {
    background-color: #5100ff;
    color: #efefef;
}

.button-top {
    position: fixed;
    z-index: 100;
    right: 4em;
    bottom: 4em;
    transform: translateX(200px);
    transition: .7s;
}

.button-top>button {
    cursor: pointer;
    padding: .7em 1em;
    outline: none;
    border: none;
    background-color: #5100ff;
    color: #ffffff;
    border-radius: .3em;
}